RewriteEngine on
RewriteBase /
RewriteRule ^Download$       /download/                          [R=301]
RewriteRule ^Contribute$     /contribute/                        [R=301]
RewriteRule ^Documentation$  /documentation/                     [R=301]
RewriteRule ^[A-Z].*         https://wiki.qemu.org/$0     [NE,R]
RewriteRule ^download(/.+)   https://download.qemu.org$1  [NE,R]
RewriteRule ^images(/.+)   https://wiki.qemu.org/images$1 [NE,R]
