---
title: QEMU
layout: home
glightbox: True
---
{% include relative_root.html %}
	<!-- Header -->
	<div id="header">
		<div class="container">
			<h1>QEMU</h1>
			<span class="tag">A generic and open source machine emulator and virtualizer</span>
		</div>
	</div>
	
<!-- Featured -->
<div id="featured">
	<header class="visuallyhidden">
		<h2>Features</h2>
	</header>
	<div class="container">
		<div class="row">
			<section class="4u">
				<div class="pennant">{% include screenshot.html offset=0 limit=1 %}</div>
				<h3>Full-system<br class="only-desktop"> emulation</h3>
				<p>Run operating systems for any machine, on any supported architecture</p>
			</section>
			<section class="4u">
				<div class="pennant">{% include screenshot.html offset=1 limit=1 %}</div>
				<h3>User-mode<br class="only-desktop"> emulation</h3>
				<p>Run programs for another Linux/BSD target, on any supported architecture</p>
			</section>
			<section class="4u">
				<div class="pennant">{% include screenshot.html offset=2 limit=1 %}</div>
				<h3>Virtualization</h3>
				<p>Run KVM and Xen virtual machines with near native performance</p>
			</section>
			<section style="display: none;">
			{% include screenshot.html offset=3 limit=10 %}
			</section>

<script>
window.addEventListener("load", () => {
	GLightbox({touchNavigation: true, loop: true})
});
// make links to images inactive, except through the lightbox
document.querySelectorAll('.glightbox').forEach((element) => {
    element.addEventListener("click", () => {
        return false;
    });
});
</script>

		</div>
	</div>
</div>

<!-- Main -->
	<div id="releases">
		<header>
			<h2>Latest releases</h2>
		</header>
		<div class="container">
			{% include releases.html %}
		</div>
	</div>


<script>
window.addEventListener("scroll", () => {
	const isScroll = window.scrollY < 120;
	const body = document.body;
	if (isScroll && body.classList.contains('fixed'))
		body.classList.remove('fixed')
	else if (!isScroll && !body.classList.contains('fixed'))
		body.classList.add('fixed')
);
</script>
