
	<p>Grab the source code for the latest releases and compile it yourself!
	Detailed compilation instructions can be found in the wiki for
		<a href="http://wiki.qemu-project.org/Hosts/Linux">Linux</a>,
		<a href="http://wiki.qemu-project.org/Hosts/Windows">Win32</a> and
		<a href="http://wiki.qemu-project.org/Hosts/Mac">macOS</a>.</p>

	<div id="releases">
	{% include releases.html %}
	</div>
	<p>or stay on the bleeding edge with the
	   <a href="http://git.qemu-project.org/">git repository!</a></p>

	<h2>Build instructions</h2>

	{% for release in site.data.releases offset: 0 limit: 1 %}
	<p>To download and build QEMU {{release.branch}}.{{release.patch}}:</p>
<pre>wget http://download.qemu-project.org/qemu-{{release.branch}}.{{release.patch}}.tar.bz2
tar xvjf qemu-{{release.branch}}.{{release.patch}}.tar.bz2
cd qemu-{{release.branch}}.{{release.patch}}
./configure
make
</pre>
	{% endfor %}

	<p>To download and build QEMU from git:</p>
<pre>git clone git://git.qemu-project.org/qemu.git
cd qemu
git submodule init
git submodule update --recursive
./configure
make
</pre>

	<p>The latest development happens on the <tt>master</tt>
	branch. The stable trees are located in branches named
	<tt>stable-X.YY</tt> branch, where X.YY is the release
	version.</p>
