
	<p>Grab the source code for the latest releases and compile it yourself!
	Detailed compilation instructions can be found in the wiki for
		<a href="https://wiki.qemu.org/Hosts/Linux">Linux</a>,
		<a href="https://wiki.qemu.org/Hosts/W32">Win32</a> and
		<a href="https://wiki.qemu.org/Hosts/Mac">macOS</a>.</p>

	<div id="releases">
	{% include releases.html %}
	</div>
	<p>or stay on the bleeding edge with the
	   <a href="https://gitlab.com/qemu-project/qemu">git repository!</a></p>

	<h2>Build instructions</h2>

	{% for release in site.data.releases offset: 0 limit: 1 %}
	<p>To download and build QEMU {{release.branch}}.{{release.patch}}:</p>
<pre>wget https://download.qemu.org/qemu-{{release.branch}}.{{release.patch}}.tar.xz
tar xvJf qemu-{{release.branch}}.{{release.patch}}.tar.xz
cd qemu-{{release.branch}}.{{release.patch}}
./configure
make
</pre>
	{% endfor %}

	<p>Source tarballs for official QEMU releases are signed by the release
    manager using
        <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/CEACC9E15534EBABB82D3FA03353C9CEF108B584">this GPG public key</a>.

<pre>
pub   rsa2048 2013-10-18 [SC]
      CEACC9E15534EBABB82D3FA03353C9CEF108B584
uid           [ unknown] Michael Roth <michael.roth@amd.com>
uid           [ unknown] Michael Roth <flukshun@gmail.com>
uid           [ unknown] Michael Roth <mdroth@utexas.edu>
sub   rsa2048 2013-10-18 [E]
</pre>
	<p>To download and build QEMU from git:</p>
<pre>git clone https://gitlab.com/qemu-project/qemu.git
cd qemu
git submodule init
git submodule update --recursive
./configure
make
</pre>

	<p>The latest development happens on the <strong>master</strong>
	branch. The stable trees are located in branches named
	<strong>stable-X.YY</strong> branch, where X.YY is the release
	version.</p>
