	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Mono:300,400%7cRoboto:300,400,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/normalize.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/assets/css/skel-noscript.css" />
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="/assets/css/style-mobile.css" media="(max-width:699px)"/>
	<link rel="stylesheet" href="/assets/css/style-desktop.css" media="(min-width:700px)" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	{% if page.colorbox %}
	<script src="/assets/js/jquery.colorbox.js"></script>
	<link rel="stylesheet" href="/assets/css/colorbox.css" />
	{% endif %}
