<div id="footer">
	<div id="footer-inner">
		<ul class="style">
			<li><a href="{{ relative_root }}/">Home</a></li>
			<li><a href="{{ relative_root }}/download">Download</a></li>
			<li><a href="http://qemu-advent-calendar.org">QEMU advent calendar</a></li>
		</ul>
		<ul class="style">
			<li><a href="{{ relative_root }}/contribute">Contribute</a></li>
			<li><a href="{{ relative_root }}/contribute/report-a-bug">Reporting a bug</a></li>
			<li><a href="https://wiki.qemu.org/Documentation/GettingStartedDevelopers">New contributors</a></li>
			<li><a href="https://wiki.qemu.org/Contribute/SubmitAPatch">Submitting a patch</a></li>
			<li><a href="https://wiki.qemu.org/Contribute/FAQ">Contributor FAQ</a></li>
		</ul>
		<ul class="style">
			<li><a href="{{ relative_root }}/documentation">Documentation</a></li>
			<li><a href="https://www.qemu.org/docs/master/">Main docs</a></li>
			<li><a href="https://wiki.qemu.org/Category:Developer_documentation">Developer docs</a></li>
			<li><a href="https://wiki.qemu.org/">Wiki</a></li>
		</ul>
		<ul class="style">
			<li><a href="https://planet.virt-tools.org/">virt tools planet</a></li>
			<li><a href="https://www.linux-kvm.org/">KVM</a></li>
			<li><a href="http://libguestfs.org/">Libguestfs</a></li>
			<li><a href="https://libvirt.org/">Libvirt</a></li>
			<li><a href="https://xenproject.org">Xen</a></li>
		</ul>
	</div>
	<div id="conservancy">
		QEMU is a member of <a href="{{ relative_root }}/conservancy/">Software Freedom Conservancy</a>
	</div>
	<div id="licenses">
		<a href="{{ relative_root }}/license.html">Website licenses</a>
	</div>
</div>
