<div id="footer">
	<div id="footer-inner">
		<ul class="style">
			<li><a href="/">Home</a></li>
			<li><a href="/download">Download</a></li>
			<li><a href="http://qemu-advent-calendar.org">QEMU advent calendar</a></li>
		</ul>
		<ul class="style">
			<li><a href="/contribute">Contribute</a></li>
			<li><a href="http://wiki.qemu-project.org/Documentation/GettingStartedDevelopers">New contributors</a></li>
			<li><a href="http://wiki.qemu-project.org/Contribute/SubmitAPatch">Submitting a patch</a></li>
			<li><a href="http://wiki.qemu-project.org/Contribute/ReportABug">Reporting a bug</a></li>
			<li><a href="http://wiki.qemu-project.org/Contribute/FAQ">Contributor FAQ</a></li>
		</ul>
		<ul class="style">
			<li><a href="/documentation">Documentation</a></li>
			<li><a href="http://qemu.weilnetz.de/qemu-doc.html">Manual</a></li>
			<li><a href="http://wiki.qemu-project.org/Category:Developer_documentation">Developer docs</a></li>
			<li><a href="http://wiki.qemu-project.org/">Wiki</a></li>
		</ul>
		<ul class="style">
			<li><a href="http://planet.virt-tools.org/">virt tools planet</a></li>
			<li><a href="http://www.linux-kvm.org/">KVM</a></li>
			<li><a href="http://libguestfs.org/">Libguestfs</a></li>
			<li><a href="http://libvirt.org/">Libvirt</a></li>
			<li><a href="http://xenproject.org">Xen</a></li>
		</ul>
	</div>
</div>
