	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li{% if page.url == '/' %} class='not-desktop'{%endif %}><a href="{{ relative_root }}/">Home</a>
			{% if page.url == '/' %}<li class='donations'><a href="{{ relative_root }}/donations">Donations</a>{%endif %}
			</li><li {% if current[1] == 'download' %}class='current'{% endif %}><a href="{{ relative_root }}/download">Download</a>
			</li><li {% if current[1] == 'support' %}class='current'{% endif %}><a href="{{ relative_root }}/support">Support</a>
			</li><li {% if current[1] == 'contribute' %}class='current'{% endif %}><a href="{{ relative_root }}/contribute">Contribute</a>
			</li><li {% if current[1] == 'documentation' %}class='current'{% endif %}><a href="{{ relative_root }}/documentation">Docs</a>
			</li><li><a href="https://wiki.qemu.org">Wiki</a>
			</li><li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ relative_root }}/blog">Blog</a></li>
		</ul>
	</nav>

<script>
$('body').addClass('js');
$('#nav').hide().before('<div id="titleBar"><div><button role="button" aria-pressed="false" aria-controls="nav" aria-label="Toggle navigation bar"><span class="fa fa-lg fa-bars"></span></button></div></div>');
$('button[aria-controls="nav"]').click(function() {
	jqNav = $('#nav');
	if ($(this).attr('aria-pressed') == 'true') {
		$(this).attr('aria-pressed', false);
		$('#nav, #titleBar>div').animate(
			{ 'margin-left': '-=80%' },
			{ 'duration': 400 });
		jqNav.promise().done(function() { jqNav.hide().css('margin-left', 0); });
	} else {
		$(this).attr('aria-pressed', true);
		jqNav.css('margin-left', '-80%').show();
		$('#nav, #titleBar>div').animate(
			{ 'margin-left': '+=80%' },
			{ 'duration': 400 });
	}
});
</script>
