	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li{% if page.url == '/' %} class='not-desktop'{%endif %}><a href="{{ relative_root }}/">Home</a>
			{% if page.url == '/' %}<li class='donations'><a href="{{ relative_root }}/donations">Donations</a>{%endif %}
			</li><li {% if current[1] == 'download' %}class='current'{% endif %}><a href="{{ relative_root }}/download">Download</a>
			</li><li {% if current[1] == 'support' %}class='current'{% endif %}><a href="{{ relative_root }}/support">Support</a>
			</li><li {% if current[1] == 'contribute' %}class='current'{% endif %}><a href="{{ relative_root }}/contribute">Contribute</a>
			</li><li {% if current[1] == 'documentation' %}class='current'{% endif %}><a href="{{ relative_root }}/documentation">Docs</a>
			</li><li><a href="https://wiki.qemu.org">Wiki</a>
			</li><li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ relative_root }}/blog">Blog</a></li>
		</ul>
	</nav>

<script>
(() => {
	document.body.classList.add('js');

	// Cache DOM elements
	const nav = document.getElementById('nav');
	nav.insertAdjacentHTML('beforebegin',
		'<div id="titleBar"><div><button role="button" aria-pressed="false" aria-controls="nav" aria-label="Toggle navigation bar"><span class="fa fa-lg fa-bars"></span></button></div></div>');

	const navButton = document.querySelector('button[aria-controls="nav"]');
	const titleBar = document.getElementById('titleBar');
	let initNav = false;

	navButton.addEventListener('click', () => {
		if (!initNav) {
			const titleBarDiv = document.querySelector('#titleBar > div');
			nav.style.transition = 'margin-left 0.4s';
			titleBarDiv.style.transition = 'margin-left 0.4s';
			initNav = true;
		}

		const isPressed = navButton.getAttribute('aria-pressed') === 'true';
		navButton.setAttribute('aria-pressed', !isPressed);
		titleBar.classList.toggle('open', !isPressed);
	});
})();
</script>
