<ul>
{% for release in site.data.releases offset: 0 limit: 4 %}
<li><strong><a
  href="http://download.qemu-project.org/qemu-{{release.branch}}.{{release.patch}}.tar.xz">{{release.branch}}.{{release.patch}}</a></strong>
  {{release.date}}<br><a
  href="http://download.qemu-project.org/qemu-{{release.branch}}.{{release.patch}}.tar.xz.sig">signature</a> &mdash; <a
  href="http://wiki.qemu-project.org/ChangeLog/{{release.branch}}">changes</a></li>
{% endfor %}
</ul>
<p><a {% if page.url == '/' %}class="button"{%endif%} href="http://download.qemu.org/">Full list of releases</a><p>
