{% for screenshot in site.data.screenshots offset: {{include.offset}} limit: {{include.limit}} %}
<a href="screenshots/{{screenshot.file}}" class="colorbox"
   title="{{screenshot.description}}"
   data-title="{{screenshot.description}} {%
   if screenshot.author %}{{screenshot.author | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines | escape}} {% endif %}{%
   if screenshot.source %} (&lt;a href=&quot;{{screenshot.source}}&quot;&gt;Source&lt;/a&gt;){%endif %}"><img
   src="screenshots/{{screenshot.file}}"/></a>
{% endfor %}
