	.\31 2u { width: 100% }
	.\31 1u { width: 91.6666666667% }
	.\31 0u { width: 83.3333333333% }
	.\39 u { width: 75% }
	.\38 u { width: 66.6666666667% }
	.\37 u { width: 58.3333333333% }
	.\36 u { width: 50% }
	.\35 u { width: 41.6666666667% }
	.\34 u { width: 33.3333333333% }
	.\33 u { width: 25% }
	.\32 u { width: 16.6666666667% }
	.\31 u { width: 8.3333333333% }
	.\-11u { margin-left: 91.6666666667% }
	.\-10u { margin-left: 83.3333333333% }
	.\-9u { margin-left: 75% }
	.\-8u { margin-left: 66.6666666667% }
	.\-7u { margin-left: 58.3333333333% }
	.\-6u { margin-left: 50% }
	.\-5u { margin-left: 41.6666666667% }
	.\-4u { margin-left: 33.3333333333% }
	.\-3u { margin-left: 25% }
	.\-2u { margin-left: 16.6666666667% }
	.\-1u { margin-left: 8.3333333333% }
	

