/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Container */

	.container {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

/* Grid */

	/* Cells */

		.row > * {
			float: left;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-o-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			max-width: 100%;
		}

	/* Rows */

		.row:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.row:first-child > * {
			padding-top: 0;
		}

		.row > * {
			padding-top: 0;
		}

		/* Modifiers */

			/* Flush */

				.row.flush {
					margin-left: 0;
				}

				.row.flush > * {
					padding: 0 !important;
				}
