<!DOCTYPE HTML>
<!--
Linear by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% include relative_root.html %}
<html>
<head>
	<title>{{ page.title }} - {{ site.title }}</title>
	{% include assets.html %}
</head>
<body>

	{% include nav.html %}
	<div id="main">
		<div class="container">
			<header>
				<h1>{{ page.title }}</h1>
			</header>
			{{ content }}
		</div>
	</div>
	
	{% include footer.html %}
	{% include copyright.html %}

</body>
</html>
